<div class="large-12 columns izap-top-bar stuck12">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">

            <li class="toggle-topbar menu-icon">
                <a href="#" id="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <input type="hidden"/>
                <li>
                    <a id="dockcolor" href="/" target="_blank">
                        Home</a></li>
                <li>
                <li class="has-dropdown not-click">
                    <a id="dockcolor" href="/caseStudy/yoursports">
                        Case Studies
                    </a>
                    <ul class="dropdown nav
                    nav13">
                        <li>
                            <a href="/caseStudy/yourSports">
                                YourSports
                            </a>
                        </li>
                        <li>
                            <a href="/caseStudy/theEntertainerMe">
                                The Entertainer Me
                            </a>
                        </li>
                        <li>
                            <a href="/cromwellTools">
                                Cromwell Tools
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="yscolor" href="/" >
                        Blog</a></li>

                <li>
                    <a id="yscolor" href="/#contact">
                        <!--<img class="menuico" src="/img/menu/contact.png" />-->
                        Contact
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
</head>
<body>


<div class="top">

    <!--Top Section-->
    <div class="large-12 columns docenv docenv_c">
        <div class="row">
            <div class="large-12 columns inner-contain">
                <h1>Cromwell Tools</h1>
                <p>Case Study</p>
            </div>
        </div>
    </div>
</div>

<!--Intro-->
<div class="large-12 columns content_docenv">
    <div class="large-12 columns back text-center">
        <!--<img src="/images/casestudy/ys/logo.png" />-->
        <h1>CROMWELL</h1>
        <h6>EVERY PRODUCT, EVRY BRAND</h6>
    </div>
    <!--Tecnical tools Section-->
    <div class="large-12 columns ys_inner1">
        <div class="row">
            <h3 class="text-center">Cromwell Tools</h3>
            <div class="small-6 columns points split">
                <ul>
                    <li>Programming: NodeJs, EcmaScript 6, ReactJs, Bash Scripts.</li>
                    <li>Database: Postgres, MongoDB</li>
                    <li>Indexing Engine: Elasticsearch.</li>
                    <li>HTTP Server: Node Http Server</li>
                    <li>Message Queue : RabbitMq, AWS SNS</li>
                    <li>Load Balancer: ELB provided by AWS Services.</li>
                    <li>Private Code Repo: GitHub</li>
                    <li>CI Server: Jenkins</li>
                    <li>UI and UX: ReactJS, HandleBars.</li>
                    <li>Monitoring Tools: Integrated with NewRelic.</li>
                    <li>IAAS Vendor: Amazon.</li>
                    <li>Test Coverage: Cucumber, Selenium</li>
                    <li>Horizontal Scalability: Yes, Using AWS Policies</li>
                </ul>
            </div>
            <div class="large-6 columns text-center points" id="ddiv">
                <div class="Small-12 columns icons">
                    <img class="small-3 columns" src="/images/nodejs.png" />
                    <img class="small-3 columns" src="/images/rabbitmq.png" />
                    <img class="small-3 columns" src="/images/js.jpg" />
                    <img class="small-3 columns" src="/images/casestudy/cromwell/postgres.png" />
                </div>
                <div class="small-12 columns icons">
                    <img class="small-3 columns" src="/images/casestudy/cromwell/react.jpeg" />
                    <img class="small-3 columns" src="/images/casestudy/ys/elastic.svg" />
                    <img class="small-3 columns" src="/images/casestudy/cromwell/cucumber.png" />
                    <img class="small-3 columns" src="/images/casestudy/cromwell/new_relic.png" />
                </div>
                <div class="small-12 columns icons">
                    <img class="small-3 columns" src="/images/casestudy/cromwell/handlebars.png" />
                    <img class="small-3 columns" src="/images/casestudy/ys/aws.svg" />
                    <img class="small-3 columns" src="/images/casestudy/cromwell/jenkins.png" />
                    <img class="small-3 columns" src="/images/casestudy/cromwell/jira.png" />
                </div>
                <div class="small-12 columns icons" style="margin-bottom: 0px;">
                    <img class="small-3 columns" src="/images/casestudy/cromwell/mongodb.png" />
                    <img class="small-3 columns" src="/images/casestudy/ys/git.svg" />
                    <img class="small-3 columns" src="/images/casestudy/ys/jquery.svg" />
                    <img class="small-3 columns" src="/images/casestudy/cromwell/selenium.jpeg" />
                </div>
            </div>
            <script>
                $( window ).resize(function() {
                    if($(window).width()< 769){
                        $("#ddiv").hide();
                    }
                    else{
                        $("#ddiv").show();
                    }});
            </script>
        </div>
    </div>
    <!--Information Section-->
    <div class="large-12 cloumns">
        <div class="large-12 cloumns ys_inner2">
            <div class="row">
                <p>
                    <img src="/images/casestudy/cromwell.png"  width="100px" height="125px"/>
                    <p>Cromwell Tools is one of the leading exporter based in Leicester (UK) , supply machinery tools and the products to clients throughout EU, Asia and Australia.</p>
                    <p>Role:- Software Engineer</p>
                    <p style="font-size: larger">Challange:- New E-Commerce website using new cutting edge technology extending from the complex core database and  keep it synced.</p>
                    <p>1. Cromwell decided to have a complete new E-Commerce website for their customers with all buzz technologies. Keeping the response  time of website in mind,  One of the big challenges was to set up the E-commerce site database with the  System core database with a huge database and keep it synced day to day. Team settled it using PostgresSql, MongoDb, Elastic Search, Big Data Query and RabbitMq.</p>
                    <p>2. Other Challenge was to integrate  with different teams from different locations , expertise with  professional skills. As teams were from London, Lithuania and Leicester.</p>
                    <p>3. ReactJS used for front-end , binded with NodeJS as backend. The Whole development done using BDD (Selenium) and TDD( Cucumber).<p>
                    <p>4. It was a good example of Continuous Integration and Continuous Development using  Git, Bitbucket and  Jenkins for  Dev, QA, Staging and Live Environments. </p>
                    <p>5. As a Developer , I worked on the backend api’s which includes  products, categories, search, shipping, users, stock and so on.</p>
                </p>
            </div>
        </div>
    </div>

