<div class="large-12 columns izap-top-bar stuck9">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">

            <li class="toggle-topbar menu-icon">
                <a href="#" id="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <input type="hidden"/>
                <li>
                    <a id="temcolor" href="/">Home</a>
                </li>
                <li class="has-dropdown not-click">
                    <a id="temcolor" href="/yoursports">
                        Case Studies
                    </a>
                    <ul class="dropdown nav
                    nav13">
                        <li>
                            <a href="/caseStudy/yourSports">
                                YourSports
                            </a>
                        </li>
                        <li>
                            <a href="/caseStudy/theEntertainerMe">
                                The Entertainer Me
                            </a>
                        </li>
                        <li>
                            <a href="/caseStudy/cromwellTools">
                                Cromwell Tools
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="yscolor" href="/#about">About</a>
                </li>
                <li>
                    <a id="yscolor" href="/" >
                        Blog</a></li>
                <li>
                    <a id="yscolor" href="/#contact">
                        <!--<img class="menuico" src="/img/menu/contact.png" />-->
                        Contact
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
</head>

<body>


<div class="top">

    <!--Top Section-->
    <div class="large-12 columns tem tem_c">
        <div class="row">
            <div class="large-12 columns inner-contain">
                <h1>TheEntertainerMe</h1>
                <p>Case Study</p>
            </div>
        </div>
    </div>
</div>

<!--Intro-->
<div class="large-12 columns content_tem">
    <div class="large-12 columns back text-center">
        <img src="/images/casestudy/theEntertainer/logo.png" />
    </div>
    <!--Tecnical tools Section-->
    <div class="large-12 columns ys_inner1">
        <div class="row">
            <h3 class="text-center">The EntertainerMe</h3>
            <div class="small-6 columns points split">
                <ul>
                    <li>Programming: PHP 5.4, Magento, Yii</li>
                    <li>Database: Mysql</li>
                    <li>HTTP Server: Apache</li>
                    <li>Private Code Repo: GitHub</li>
                    <li>UI and UX: jquery, HTML, CSS</li>
                    <li>Monitoring Tools: Integrated with NewRelic.</li>
                    <li>IAAS Vendor: Amazon.</li>
                    <li>UnitTest Coverage: No.</li>
                </ul>
            </div>
            <div class="large-6 columns text-center points" id="ddiv">
                <div class="Small-12 columns icons">
                    <img class="small-4 columns" src="/images/casestudy/ys/php.svg" />
                    <img class="small-4 columns"src="/images/casestudy/theEntertainer/magento.png" />
                    <img class="small-4 columns"src="/images/casestudy/theEntertainer/yii.jpeg" />
                </div>
                <div class="small-12 columns icons">
                    <img class="small-4 columns" src="/images/casestudy/ys/mysql.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/aws.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/http.svg" />
                </div>
                <div class="small-12 columns icons">
                    <img class="small-4 columns" src="/images/casestudy/theEntertainer/apache.jpeg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/git.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/jquery.svg" />
                </div>

            </div>
            <script>
                $( window ).resize(function() {
                    if($(window).width()< 769){
                        $("#ddiv").hide();
                    }
                    else{
                        $("#ddiv").show();
                    }});
            </script>
        </div>
    </div>
    <!--Information Section-->
    <div class="large-12 cloumns">
        <div class="large-12 cloumns ys_inner2">
            <div class="row">
                <p>
                    <img src="/images/casestudy/theEntertainer/temlogo.svg" />
                   <p> The Entertainer is Dubai based international company, they distribute 2 for 1 offers for over 4000 merchants located across 24 destinations throughout the Middle East, Asia, Africa, and Europe. Their books are considered essential annual purchases of thousands of customers worldwide.</p>
                <p>Role:- Development Lead</p>
                <p>Challange:- REST based API extending from their complex echo system to web application, native mobile applications, their back office operation, Intense reporting requirements.</p>
                <p>Details:-</p>
                <p>1. This is an e-commerce Platform, which provides books and products to buy within zip code range from best courier & transport companies of the region with favorable discounts and transit days. Later shipment can be booked out of these products and tracked though website. Company can add / manage their locations, product catalog for swift use of the system./p>
                <p>2. This Application is built in two Php Frameworks. Backend of the website is built in Magneto as it was required by the client in Magento and Frontend is built in Yii Framework. Even when customers do login in their account, both magneto and yii communicate with each other, as Yii extends session crated in Magento.</p>
                <p>3. Using the back office application, admin can set different	 accessorial, discounts, charges, and even sales for their merchants. Manage the Sales Representatives & this commission for different companies & Carriers.</p>
                <p>4. Comprehensive report system provides reports about the shipment, carrier, customer, sale representative commission and billing reports.</p>
                <p>5. Complete Accounting System.</p>


                </p>
            </div>
        </div>
    </div>

