<div class="large-12 columns izap-top-bar stuck4">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">

            <li class="toggle-topbar menu-icon">
                <a href="#" id="menu">
                    <span>Home</span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <input type="hidden"/>
                <li>
                    <a id="yscolor" href="/">Home</a>
                </li>

                <li class="has-dropdown not-click">
                    <a id="yscolor" href="/caseStudy/yoursports">
                        Case Studies
                    </a>
                    <ul class="dropdown nav
                    nav5">

                        <li>
                            <a href="/caseStudy/yourSports">
                                YourSports
                            </a>
                        </li>
                        <li>
                            <a href="/caseStudy/theEntertainerMe">
                                The Entertainer Me
                            </a>
                        </li>
                        <li>
                            <a href="/caseStudy/cromwellTools">
                                Cromwell Tools
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="yscolor" href="/#about">About</a>
                </li>
                <li>
                    <a id="yscolor" href="/">Blog</a>
                </li>
                <li>
                    <a id="yscolor" href="/#contact">
                        <!--<img class="menuico" src="/img/menu/contact.png" />-->
                        Contact
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
</head>
<body>


<div class="top">

    <!--Top Section-->
    <div class="large-12 columns ys ys_c">
        <div class="row">
            <div class="large-12 columns inner-contain">
                <h1>YourSports</h1>
                <p>Case Study</p>
            </div>
        </div>
    </div>
</div>

<!--Intro-->
<div class="large-12 columns content_ys">
    <div class="large-12 columns back text-center">
        <img src="/images/casestudy/ys/logo.png" />
    </div>
    <!--Tecnical tools Section-->
    <div class="large-12 columns ys_inner1">
        <div class="row">
            <h3 class="text-center">YourSports</h3>
            <div class="small-6 columns points split">
                <ul>
                    <li>Programming: PHP 5.4, Ruby, Bash Scripts.</li>
                    <li>Database: RDS (MySQL) AWS Service.</li>
                    <li>Indexing Engine: Elasticsearch.</li>
                    <li>HTTP Server: nginx, php-fpm.</li>
                    <li>Job Server: Gearman.</li>
                    <li>Message Queue (Comet) Server: Nginx, Push Stream Module.</li>
                    <li>NS Service: Route53 AWS Service.</li>
                    <li>Load Balancer: ELB provided by AWS Services.</li>
                    <li>Development Environment: Docker, Vagrant, Chef.</li>
                    <li>Private Code Repo: GitHub</li>
                    <li>CI Server: Jenkins</li>
                    <li>UI and UX: jquery, Sammy routes, MustacheJS.</li>
                    <li>Monitoring Tools: Integrated with NewRelic.</li>
                    <li>IAAS Vendor: Amazon.</li>
                    <li>UnitTest Coverage: Yes, using PHPUnit Test Framework.</li>
                    <li>Horizontal Scalability: Yes, Using AWS Policies</li>
                </ul>
            </div>
            <div class="large-6 columns text-center points" id="ddiv">
                <div class="Small-12 columns icons">
                    <img class="small-4 columns" src="/images/casestudy/ys/php.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/ruby.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/mons.svg" />
                </div>
                <div class="small-12 columns icons">
                    <img class="small-4 columns" src="/images/casestudy/ys/mysql.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/elastic.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/http.svg" />
                </div>
                <div class="small-12 columns icons">
                    <img class="small-4 columns" src="/images/casestudy/ys/gini.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/aws.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/dock.svg" />
                </div>
                <div class="small-12 columns icons" style="margin-bottom: 0px;">
                    <img class="small-4 columns" src="/images/casestudy/ys/chef.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/git.svg" />
                    <img class="small-4 columns"src="/images/casestudy/ys/jquery.svg" />
                </div>
            </div>
            <script>
                $( window ).resize(function() {
                    if($(window).width()< 769){
                        $("#ddiv").hide();
                    }
                    else{
                        $("#ddiv").show();
                    }});
            </script>
        </div>
    </div>
    <!--Information Section-->
    <div class="large-12 cloumns">
        <div class="large-12 cloumns ys_inner2">
            <div class="row">
                <p>
                    <img src="/images/casestudy/ys/yslogo.svg" />
                    <p>YourSports is Silicon Valley, USA based international company and YourSports.com is a personalized and social sports-section aimed to connect history and geography through networks and sports, Around the world.</p>
                    <p>Role:- Development and Data Imports Engineer</p>

                    <p>1. YourSports is an online media network for sports fans. The goal is to be able to tell — at the city, state, country and regional network level — what the community is talking about, which particular teams, issues and pieces of content are most popular and least popular</p>
                    <p>2. Amazing features are provided in this software, and foe reaction is first ever you will see in any software.</p>
                    <p>3. YourSports create a social/local network to allow fans to have conversations with their friends and favorite athletes — about any sport, not just the NBA, NHL, MLB and NFL.</p>
                    <p>4. Worked as DRE with YourSports. My job was to filter data, Import data into MySQL and Elasticsearch and link it to all the identities using graph method. Taking care of the MySQL Database and Elasticsearch Search Index.</p>
                    <p>5. Implemented Radis Cache on top of ElasticSearch to reduce the response time.</p>
                </p>
            </div>
        </div>
    </div>

