
<!DOCTYPE html>
<html>

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Freelance NodeJS/JavaScript engineer. I write great software and inspire others to do so as well">
    <meta name="author" content="Shiv Arora">

    <link rel="shortcut icon" href="/img/face.jpg" />

    <title>Freelance NodeJS/JavaScript engineer :: Shiv Arora</title>

    <!-- Custom Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700|Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>


    <body id="page-top" class="index Site scrollspy">

        <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top ">

    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" data-target="#page-top" href="/#page-top">
                Shiv Arora
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                <li class="hidden">
                    <a data-target="#page-top" href="/#page-top"></a>
                </li>

                <li >
                    <a href="/caseStudy/yourSports">
                        CaseStudies
                    </a>
                </li>

                <li class="page-scroll">
                    <a data-target="#about" href="/#about">
                        About
                    </a>
                </li>

                <li >
                    <a href="/">
                        Blog
                    </a>
                </li>

                <li class="page-scroll">
                    <a data-target="#contact" href="/#contact">
                        Contact
                    </a>
                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->

</nav>


            <div class="page-content Site-content">
                <div class="wrapper">
                    <!-- Header -->
<header>

{{{body}}}
        <!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">

                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="" target="_blank" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">

                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    &copy; Shiv Arora 2016
                </div>
            </div>
        </div>
    </div>
</footer>


        <script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyAVxt5Y9IramKWF4pbhke0NtrX4PRmwJHc"></script>

        <script type="text/javascript">

            if (document.getElementById("gmap_canvas")) {

                function init_map() {
                    var myOptions = {
                        zoom: 11,
                        center: new google.maps.LatLng(51.9467041, -2.060698),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                            disableDefaultUI: true,
                            scrollwheel: false,
                            draggable: false
                    };
                    map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
                    marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(51.9467041, -2.060698)
                    });
                }
                google.maps.event.addDomListener(window, 'load', init_map);

            }


        </script>

        <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>

        <!-- Slick -->
        <script src="/node_modules/slick-carousel/slick/slick.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/classie.js"></script>
        <script src="/js/cbpAnimatedHeader.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/js/freelancer.js"></script>

    </body>

</html>
