
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta tags start here-->
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nodejs Developer: PHP Developer " />
    <!--<meta property="og:image" content="http://i.imgur.com/u9kBTor.jpg" />-->
    <meta property="og:image" content="http://i.imgur.com/" />
    <meta property="og:description" content="" />
    <meta name="name" content="" />
    <meta name="description" content="" />
    <meta name="card" content="summary" />
    <!--<meta name="image" content="http://i.imgur.com/u9kBTor.jpg" />-->
    <meta name="image" content="" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400|Playfair+Display:400,400italic,700normal,700italic|Roboto:300,300italic,700normal,700italic">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,400,600' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <title></title>
    <link href="/css/foundation.css" rel="stylesheet">
    <link href="/css/animate-custom.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/fonts-style.css" rel="stylesheet">
    <link href="/css/normalize_plug.css" rel="stylesheet">

{{{body}}}

<footer class="footer">
    <div class="small-12 columns main-footer">
        <div class="row">

        </div>
    </div>
</footer>
<!--<script src="js/vendor/jquery.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.orbit.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>

<script type="text/javascript">
    window.scrollReveal = new scrollReveal();
</script>
<!--<script src="http://www.izap.in/assets/363fbc2d/jquery.js"></script>-->
<script src="/assets/b51c9aee/yii.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/scrollReveal.min.js"></script>    </body>
</html>
